
.home{
	background-image: url("../123.jpeg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.buttons ul li a:hover {
	color: blue;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgb(1,1,1));
    border-radius: 800px;
}

.buttons ul li{
	display: inline-block;
	margin-top: 30px;
	margin-left: 100px;
	border: solid white;                                                                                                      
	border-radius: 800px;	
}

.buttons ul li a{
	width:260px;
	text-decoration: none;
	text-align:  center;
	 color:red;
	font-family:'PT Sans Narrow', sans-serif;
	font-size: 20px;
	display: inline-block;
	padding: 20px;
}
.a{
	text-align: center;
	width:260px;
	text-decoration: none;
	 color:black;
	font-family:'PT Sans Narrow', sans-serif;
	font-size: 30px;
	display: inline-block;
	padding: 20px;
}